extends templates/layout

block content
  h1=`Welcome! ${user.name}`

  h2 User profile
  
  ul
    li name : #{user.name}
    li username : #{user.username}
    li password : #{user.password}

  h3 Thank you