extends layout/base.pug

block content 
    if errorMessage
        span=errorMessage
    form(method="POST") 
        input(placeholder="Title", required, type="text", name="title")
        input(placeholder="Summary", required, type="text", name="summary")
        input(placeholder="Year", required, type="number", name="year")
        input(placeholder="Rating", required, type="number", name="rating" max="5")
        input(placeholder="Genres separated by comma.", type="text", name="genres")
        input(type="submit", value="Upload Movie")